<!doctype html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
<html>
<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title><%= title %></title>
  <meta name="title" content="<%= title %>">
  <meta name="description" content="<%= description %>">
  <meta name="robots" content="<%= robots %>">
  <meta property="fb:app_id" content="<%= facebook.id %>">
  <meta property="og:type" content="video">
  <meta property="og:site_name" content="<%= siteName %>">
  <meta property="og:image" content="<%= image %>">
  <meta property="og:image:width" content="<%= imageWidth %>">
  <meta property="og:image:height" content="<%= imageHeight %>">
  <meta property="og:title" content="<%= title %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:url" content="<%= url %>">
  <meta property="og:video:url" content="<%= video %>">
  <meta property="og:video:secure_url" content="<%= video %>">
  <meta property="og:video:type" content="video/mp4">
  <meta property="og:video:width" content="<%= imageWidth %>">
  <meta property="og:video:height" content="<%= imageHeight %>">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@<%= siteName %>" />
  <meta name="twitter:creator" content="@<%= siteName %>" />
  <meta name="twitter:title" content="<%= title %>" />
  <meta name="twitter:description" content="<%= description %>" />
  <meta name="twitter:image" content="<%= image %>" />
  <link rel="shortcut icon" type="image/png" href="/static/images/favicon.png">
</head>
  <div class="verpix-livephoto" data-id="<%= mediaId %>"></div>
  <script>
    !function(e,t,r){function n(){for(;d[0]&&"loaded"==d[0][f];)c=d.shift(),c[o]=!i.parentNode.insertBefore(c,i)}for(var s,a,c,d=[],i=e.scripts[0],o="onreadystatechange",f="readyState";s=r.shift();)a=e.createElement(t),"async"in i?(a.async=!1,e.head.appendChild(a)):i[f]?(d.push(a),a[o]=n):e.write("<"+t+' src="'+s+'" defer></'+t+">"),a.src=s}(document,"script",["<%= sdk %>"])
  </script>
<body>
</body>
</html>
